 /*--------------------------------------------BASIC--------------------------------------------*/
 
  
 /*-----------------variables------------------*/
 @Main-Color: #f4511e;
 @Light-grey-background: #f6f6f6;
 @Dark-grey-letters: #303030;
 @Light-grey-letters: #818181;
 
 /*--------------------------------------------*/
* {
  box-sizing: border-box !important;
}
body { 
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: @Light-grey-letters;
  font-size: 18px;
}
a {
    color: inherit;
    &:hover,
    &:active,
    &:focus {
    text-decoration: none;
    }
}

.active {
  display: block !important;
}
header,
#search {
  background: @Main-Color;
}
#values,
#portfolio,
#contact {
  background: @Light-grey-background;
}
h2,
p,
h4,
h3 {
  color: @Dark-grey-letters;
}
.fa {
  color: @Main-Color;
}
.smaller-letter {
  color: @Light-grey-letters;
  font-size: 15px;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: @Dark-grey-letters;
  font-weight: 600;
  margin-bottom: 50px;
}
h4 {
  margin-bottom: 40px;
}

/*--------------------------------------------HEADER-------------------------------------------*/
header {
    position: fixed;
    width: 100%;
    top: 0px;
    letter-spacing: 4px;
    z-index: 1000;
    color: white;
    #mainNav {
      float: right;
      margin: 0;
      margin-right: 5%;
      li {
          display: inline-block;
          a {
          font-size: 12px;
          display: inline-block;
          padding: 15px 15px;
          line-height: 20px;
        }
      }
    }
    #logo{
      line-height: 20px;
      font-size: 18px;
      padding: 15px;
      display: inline-block;
      margin-left: 5%;  
      &:hover{
          color: inherit;
      }
    }
}
header #mainNav li 
.activeMainNav {
  color: @Main-Color;
  background: #fff;
}
.navActive {
  display: block !important;
}
#burger {
  color: white;
  float: right;
  font-size: 25px;
  padding: 12.25px 0;
  cursor: pointer;
  margin-right: 5%;
}
/*---------------------------------------------MAIN--------------------------------------------*/

/*------------SEARCH----------*/
#search {
    padding: 100px 0px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    width: 100%;
    h1 {
        font-size: 63px;
        letter-spacing: 5px;
        color: white;
    }
    h3 {
        color: white;
    }
    button {
        color: white;
        background-color: #fff;
        border: none;
        border-radius: 0 4px 4px 0;
        padding: 2px 20px 2px 20px;
        font-size: 16px;
        background-color: #d9534f;
        outline: none;
        line-height: 28px;
        transition: background .5s;
        &:focus {
            background: #c9302c;
        }
    }
    input {
        height: 30px;
        width: 50%;
        border: none;
        border-right: none;
        border-radius: 4px 0 0 4px ;
        font-size: 16px;
        background-color: white;
        padding: 2px 20px 2px 20px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        color: black;
        outline: none;
        line-height: 28px;
    }
}


/*----------------------------*/


/*------------ABOUT-----------*/
#signal-span,
#globe-span {
  font-size: 260px;
}
#about {
    padding: 60px 0px;
    button {
        background: #fff;
        color: @Dark-grey-letters;
        padding: 7px 13px;
        border-radius: 8px;
    }
}
/*----------------------------*/


/*------------VALUES----------*/
#values {
  padding: 60px 0px;
}
/*----------------------------*/


/*-----------SERVICES---------*/
#services {
  padding: 60px 0px;
  text-align: center;
}
#services .service-span {
  font-size: 50px !important;
}
#services .service-box {
  margin-bottom: 40px;
}
/*----------------------------*/


/*-----------PORTFOLIO--------*/
#portfolio {
    padding: 60px 0px;
    text-align: center;
    .imgBox {
        background: white;
        padding-bottom: 15px;
        margin-bottom: 10px;
        &:hover {
            box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
        }
        img {
            width: 100%;
            cursor: pointer;
        }
    }
    #values {
        padding: 60px 50px;
    }
    #second-heading {
        margin-top: 50px;
    }
} 
/*-----carusel-----*/
.mySlides {
  display: none;
}
.activated {
  display: inline-block !important;
}
#carusel h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
  display: inline-block !important;
}
.arrow-carusel {
    font-size: 60px;
    font-weight: 900;
    padding: 50px;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}
#dotBox {
  margin-top: 1px;
}
.arrow-carusel.left {
  float: left;
}
.arrow-carusel.right {
  float: right;
}
.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  opacity: 1;
  border: solid @Main-Color 1px;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
}
.activeDot {
  background: @Main-Color!important;
}
.slideshow-container {
  height: 200px;
}
/*-----------------*/
/*----------------------------*/


/*-----------PRICING----------*/
#pricing{
    padding: 50px 0px;
    .priceTable {
        border: solid 2px @Main-Color;
        transition: box-shadow 0.5s;
        margin-bottom: 10px;
        &:hover {
            box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.5);
        }
        h2 {
            margin: 0;
            padding: 40px;
            background: @Main-Color;
            color: white;
        }
        h3 {
            font-size: 32px;
            color: @Light-grey-letters;
        }
        .space {
            width: 100%;
            border-top: 1px solid #ddd;
        }
        button {
            color: white;
            background-color: #fff;
            padding: 10px 20px;
            border: 1px solid @Main-Color;
            font-size: 16px;
            background-color: @Main-Color;
            outline: none;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.3333333;
            border-radius: 6px;
            margin-top: 10px;
            margin-bottom: 30px;
            &:hover {
                box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
            }
        }
        
    }
    
} 
/*----------------------------*/


/*-----------CONTACT----------*/
#contact {
    padding: 60px 0px;
    .fa {
        font-size: 20px !important;
        display: inline-block;
        width: 20px;
        text-align: center;
        color: @Light-grey-letters;
    }
    input {
        height: 30px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
        padding-left: 10px;
        font-size: 15px;
    }
    textarea {
        margin-top: 20px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
        padding-left: 10px;
        font-size: 15px;
        height: 100px;
    }
    button {
        margin-top: 20px;
        float: right;
        border-radius: 5px;
        font-size: 15px;
        border: 1px solid #ccc;
        outline: none;
        color: black;
        background: white;
        padding: 2px 10px;
        &:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
    }
    
}
/*----------------------------*/


/*---------------------------------------------FOOTER--------------------------------------------*/
footer {
  padding: 60px 0px;
}
/*---------------------------------------------OTHERS--------------------------------------------*/
#cover {
  width: 100%;
  height: 3000px;
  opacity: 0.7;
  position: absolute;
  top: 0;
  background: black;
  z-index: 500;
}
.modalPrevent{
    overflow: hidden;
}
.modal{
    overflow: scroll!important;
}
#backButton{
    background: @Main-Color;
    padding:5px 10px;
    position: fixed;
    bottom:5%;
    right:5%;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
    display: none;
    .fa{
        color:white;
    }
}
/*-----------------------------------------------RESPONSIVE----------------------------------------*/
/*-----------------------------------------------SAME ATTRIBUTES------------------------------------*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*----------------------------------------------modal img-------------------------------------------*/
#myModal, #modalPricing {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}
#myModal img {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  width: 100%;
}
.modal{
    position: relative;
    text-align: center;
}
.modalActive {
  display: block !important;
}
.close  {
  position: absolute;
  z-index: 10000;
  opacity: 1;
  font-size: 50px;
  top: 0px;
  right: 15px;
}
#closeModalPhoto{
    right: 30px;
    top: 0px;
}
#modalContainer{
    position: relative;
    text-align: center;
    max-width: 900px;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/*---------------------------------------------------------------------------------------------------*/

/*----------------------------------------------modal pricing----------------------------------------*/
#modalPricingTable{
    background: @Dark-grey-letters;
    padding: 15px;
    border-radius: 10px;
    color: white!important;
}
#modalPricingTable input, select {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}
#modalPricing p{
    margin: 0px;
}
#modalPricing legend{
    color: white;
}
.helpTab{
    border: 1px solid black;
    border-radius: 4px;
    background: grey;
    width: auto;	
    p{
        text-align: center;
        color:white;
    }
}

/*---------------------------------------------------------------------------------------------------*/

/*----------------------------------------------Slide anim-------------------------------------------*/
.slideanim {
  visibility: hidden;
}
.slide {
  animation: 1s slide;
  -webkit-animation: 1s slide;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
/*---------------------------------------------------------------------------------------------------*/
/*----------------------------------------------responsive-------------------------------------------*/
@media screen and (max-width: 992px) {
  #mainNav {
    display: none;
    position: absolute;
    width: 100%;
    background: @Main-Color;
    padding: 0px;
    margin: 0;
    left: 0;
    top: 50px;
    z-index: 1000;
  }
  #mainNav li,
  #mainNav a {
    display: block!important;
  }
  header .fa {
    display: inline;
  }
  header .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .activeMainNavBur {
    display: block !important;
    text-align: center;
  }
  #modalPricing{
	padding-top: 0px;
  }
}
/*---------------------------------------------------------------------------------------------------*/
